.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hm-calendar-container {
    overflow: scroll;
}

.scroll {
    overflow-y: scroll;
}

.hm-calendar {
    float: left;
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hm-calendar>div.header {
    float: left;
    width: 100%;
    height: 45px;
    color: white;
    color: #8C8C8C;
}

.hm-calendar>div.header>* {
    height: 45px;
    line-height: 45px !important;
    display: inline-block;
    vertical-align: middle;
}

.hm-calendar>div.header>i {
    float: left;
    width: 40px;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    font-style: normal;
    color: #8C8C8C;
    cursor: pointer;
}

.hm-calendar>div.header>i.icon-left-nav {
    text-align: left;
}

.hm-calendar>div.header>i.icon-right-nav {
    text-align: right;
    margin-left: -40px;
}

.hm-calendar>div.header>span {
    float: left;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 50px;
    margin-left: -40px;
    text-align: center;
    padding-right: 40px;
    color: inherit;
}

.hm-calendar>div.week {
    float: left;
    width: 92%;
    margin: 0 4%;
    border-top: solid 1px #EAEAEA;
}

.hm-calendar>div.week:first-child {
    border-top: none;
}

.hm-calendar>div.week.names>span.day,
.hm-calendar>div.week>span.day.different-month {
    background-color: #f4f4f4;
    border-left: none;
    border-top: none;
}

.hm-calendar>div.week>span.day {
    position: relative;
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: solid 1px #EAEAEA;
    font-size: 0.75em;
    text-align: center;
    height: 40px;
    line-height: 40px !important;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: #858585;
}

.hm-calendar>div.week>span.day:first-child {
    border-left: none;
}

.hm-calendar>div.week>span.day.today {
    background: #e3f2ff;
}

.hm-calendar>div.week>span.day.different-month {
    color: #c0c0c0;
}

.hm-calendar>div.week>span.day.selected {
    background: #FF4A65;
    color: white;
    .hm-circle-barget.color-red {
        color: #FF979D;
        background: #fff;
    }
}

.hm-calendar>div.week.names>span {
    font-weight: bold;
}

.hm-circle-barget {
    position: absolute;
    top: 22px;
    right: 2px;
    display: inline-block;
    border-radius: 50%;
    z-index: 1000;
    &.small {
        min-width: 16px;
        min-height: 16px;
        line-height: 16px;
    }
    &.color-red {
        color: #FFF;
        background-color: #FF979D
    }
}

.hm-calendar-day-activity {
    width: 92%;
    margin: 0 4%;
    float: left;
    clear: both;
    .today-activity,
    .month-activity {
        font-size: .8rem;
        .iconfont,
        span {
            font-size: 1rem;
        }
        span {
            margin: 0 1rem;
        }
    }
    .activity-tag-container {
        background: #fff;
        border-radius: 5px;
        border-top: 1px solid #BEBEBE;
        padding: .5rem;
        >span {
            font-size: .8rem;
            color: #BEBEBE;
        }
        .tag-list {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            margin-top: .5rem;
            li {
                flex-basis: 18%;
                -webkit-flex-basis: 18%;
                background: #F0F0F0;
                text-align: center;
                border-radius: 5px;
                margin-bottom: .5rem;
            }
            li:active {
                background: #EEA117;
                color: #fff;
            }
        }
    }
    .today-activity {
        color: #ACD83E;
    }
    .month-activity {
        color: #39ABE6;
    }
    .activity-list {
        margin: 0;
        .activity-time {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            font-size: .8rem;
        }
        .item-title {
            font-weight: normal;
            text-align: justify;
            font-size: .9rem;
            .active-header {
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                flex-flow: row wrap;
                -webkit-flex-flow: row wrap;
                .tag-list {
                    span {
                        background: #EEA117;
                        padding: .2rem .5rem;
                        margin-right: .5rem;
                        border-radius: 5px;
                        color: #fff;
                        font-size: .8rem;
                    }
                    span:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .item-content {
            padding: .625rem 0;
        }
    }
    .result-list {
        margin: 0;
        .activity-time {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            font-size: .9rem;
        }
        .item-title {
            font-weight: normal;
            text-align: justify;
            font-size: .9rem;
            .active-header {
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                align-items: center;
                -webkit-align-items: center;
            }
        }
        .item-content {
            padding: .625rem .9375rem;
        }
        .tag-list {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            margin-top: .5rem;
            span {
                background: #EEA117;
                padding: .2rem .5rem;
                margin-right: .5rem;
                border-radius: 5px;
                color: #fff;
                font-size: .8rem;
            }
            span:last-child {
                margin-right: 0;
            }
        }
    }
    .input-wrapper {
        position: relative;
        input {
            border: none;
            padding-left: 2.875rem;
            margin-bottom: 0;
            border-radius: 5px;
        }
        .iconfont {
            position: absolute;
            top: 3px;
            left: .9375rem;
            font-size: 1.5rem;
        }
    }
    .accordion {
        border-radius: 5px;
    }
    .accordion:last-child {
        margin-bottom: 50px;
    }
}

.hm-alert-grid {
    .hm-alert-content {
        .detail {
            max-width: 10rem;
            max-height: 10rem;
            overflow: scroll;
        }
    }
}

.hm-alert-container {
    margin-top: 0;
    .item-title,
    .item-after,
    .item-subtitle {
        font-size: .8rem;
    }
    .item-after {
        color: #656565;
    }
}

.hm-alert-grid {
    margin-bottom: 15px;
    width: 100%;
}

.hm-alert-label,
.hm-alert-content {
    font-size: .8rem;
    color: #656565;
}

.hm-alert-content {
    text-align: left;
    letter-spacing: 0.05rem;
}

.hm-alert-label.col-2 {
    font-weight: 500;
    flex: 0 0 21.33333%;
    -webkit-flex: 0 0 21.33333%;
    max-width: 21.33333%;
}

.hm-alert-content.col-4 {
    flex: 0 0 80.33333%;
    -webkit-flex: 0 0 80.33333%;
    max-width: 80.33333%;
}

.hm-alert-container {
    margin-top: 0;
    .item-title,
    .item-after,
    .item-subtitle {
        font-size: .8rem;
    }
    .item-after {
        color: #656565;
    }
}

.hm-alert-grid {
    margin-bottom: 15px;
    width: 100%;
}

.hm-alert-label,
.hm-alert-content {
    font-size: .8rem;
    color: #656565;
}

.hm-alert-content {
    text-align: left;
    letter-spacing: 0.05rem;
}

.hm-alert-label.col-2 {
    font-weight: 500;
    flex: 0 0 21.33333%;
    -webkit-flex: 0 0 21.33333%;
    max-width: 21.33333%;
}

.hm-alert-content.col-4 {
    flex: 0 0 80.33333%;
    -webkit-flex: 0 0 80.33333%;    
    max-width: 80.33333%;
}

.hm_calendar_activity_detail {
    .modal-body {
        max-height: 15rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}