.hm-todayCompleteTask {
    .sale-changce-list {
        background: #fff;
        border-radius: 5px;
        margin: .625rem .3125rem 3.125rem;
        width: 100%;
    }
    .growth-wrapper {
        .sale-changce-list {
            margin: 0 0 3.125rem;
        }
    }
    .hm-sale-changce-title,
    .hm-sale-changce-title-item {
        border-bottom: 1px solid #ececec;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        color: #ababab;
        font-size: .8rem;
        padding: .5rem 0;
        text-align: center;
        .name {
            flex: 1;
            -webkit-flex: 1;
        }
        .point {
            flex: 3;
            -webkit-flex: 3;
        }
        .target {
            flex: 1.5;
            -webkit-flex: 1.5;
        }
    }
    .hm-sale-changce-title-item {
        border-bottom: 1px solid #f2f2f2;
        color: #666;
        .target {
            b {
                font-weight: normal;
                color: #77C5FF;
            }
        }
    }
    .hm-sale-changce-title-item:last-child {
        margin-bottom: 0;
    }
    .hm-search-result {
        margin: 0;
    }
    .hm-growth-nav {
        .tabs {
            margin-top: .625rem;
        }
        .hm-manager-home-nav {
            .tabs-nav {
                height: 2rem;
                padding: 0 30;
                justify-content: center;
                -webkit-justify-content: center;
                background: #F4F4F4;
                >button {
                    background: #fff;
                    color: #999999;
                    padding: .5rem 1rem;
                    border: 1px solid #3799FF;
                    padding: .5rem;
                    flex: none;
                    -webkit-flex: none;
                }
                >button.active {
                    color: #fff;
                    background: #3799FF;
                }
                >button:first-child {
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                }
                >button:last-child {
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
            }
            .tabs-body {
                background: #F4F4F4;
            }
            .tab-panel {
                padding: .625rem .3125rem;
            }
        }
    }
}