.hm-physiologicalShaft {
    .hm-chart-tip {
        .tip-items {
            justify-content: center;
            -webkit-justify-content: center;
            .items {
                width: 100%;
            }
        }
    }
    .hm-chart-wrapper {
        height: 500px;
    }
}