.hm-monetary {
    margin-bottom: 50px;
    .hm-chart-tip {
        .tip-items {
            justify-content: center;
            -webkit-justify-content: center;
            .items {
                width: 100%;
            }
        }
    }
}